## üìö Importaci√≥n de librer√≠as necesarias

Importaci√≥n de la librer√≠a Pandas para el DataWranling y tambi√©n de la librer√≠a MongoClient para la conexi√≥n a la BD almacenada en MongoDB

In [2]:
import pandas as pd
import pymongo as pm
from pymongo import MongoClient as mongo

print(F"‚úÖ ¬°Pandas importado correctamente! Versi√≥n instalada = {pd.__version__}")
print(F"‚úÖ ¬°MongoDB importado correctamente! Versi√≥n instalada = {pm.__version__}")

‚úÖ ¬°Pandas importado correctamente! Versi√≥n instalada = 2.2.2
‚úÖ ¬°MongoDB importado correctamente! Versi√≥n instalada = 4.13.2

## üñ•Ô∏è Conectar a MongoDB y extracci√≥n de datos

Utilizaci√≥n del controlador (driver) para conectarme a MongoDB y extraer los datos en un DataFrame.

In [3]:
# Almacenar la conexi√≥n a MongoDB en una variable
cliente = mongo("mongodb://localhost:27017/")

# Seleccionar la base de datos y la colecci√≥n
db = cliente["calidad_datos"]
coleccion = db["clientes_calidad"]

# Obtener todos los registros dentro de la tabla y guardarlos como una lista de diccionarios
registros = list(coleccion.find())

# Convertir todos los registros a un DataFrame para su tratamiento eliminado el atributo "_id"
df = pd.DataFrame(registros)
df.drop(columns=["_id"], inplace=True)
df.head()

,cliente_id,nombre,email,telefono,fecha_nacimiento,direccion,region,estado,ultima_actualizacion,rut
0,C001,Clauida R.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,C002,J0s√© L√≥pez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C003,Ana,ana.correo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C004,Pedro M.,NaN,5555abc,NaN,NaN,NaN,NaN,NaN,NaN
4,C005,Mar√≠a G√≥mez,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## ‚úÖ 1) DIMENSI√ìN: Completitud

Revisar que los datos realmente tengan valores, que est√©n presentes, ver si hay valores perdidos, nulos, etc.

### üî∏ A. Revisi√≥n general de nulos

Esto ayuda a tener una vista r√°pida de la completitud de los datos.

In [4]:
# Ver cu√°ntos nulos hay por columna
df.isna().sum()

cliente_id               0
nombre                  10
email                   25
telefono                27
fecha_nacimiento        28
direccion               28
region                  28
estado                  27
ultima_actualizacion    27
rut                     28
dtype: int64

### üî∏ B. Detectar campos vac√≠os o en blanco (solo espacios)

Aqu√≠ usamos .str.strip() para eliminar espacios en blanco antes de evaluar si el campo est√° efectivamente vac√≠o.

In [5]:
# Detectar campos vac√≠os, o en blanco, que sean solo espacio
df[df["nombre"].isna() | (df["nombre"].str.strip() == "")]

,cliente_id,nombre,email,telefono,fecha_nacimiento,direccion,region,estado,ultima_actualizacion,rut
5,C006,,NaN,123456789,NaN,NaN,NaN,NaN,NaN,NaN
6,C007,NaN,NaN,NaN,02/11/1990,NaN,NaN,NaN,NaN,NaN
7,C008,NaN,NaN,NaN,1990-11-02,NaN,NaN,NaN,NaN,NaN
8,C009,NaN,NaN,NaN,NaN,Av. Brasil 120,NaN,NaN,NaN,NaN
9,C010,NaN,NaN,NaN,NaN,Avenida Brasil N¬∫120,NaN,NaN,NaN,NaN
10,C011,NaN,NaN,NaN,NaN,NaN,RM,NaN,NaN,NaN
11,C012,NaN,NaN,NaN,NaN,NaN,Regi√≥n Metropolitana,NaN,NaN,NaN
21,C022,NaN,email@correo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,C023,NaN,NaN,9999999999999999999999,NaN,NaN,NaN,NaN,NaN,NaN
23,C024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.345.678-X
24,C025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,abcdefghi

In [6]:
df[df["email"].isna() | (df["email"].str.strip() == "")]

,cliente_id,nombre,email,telefono,fecha_nacimiento,direccion,region,estado,ultima_actualizacion,rut
0,C001,Clauida R.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,C002,J0s√© L√≥pez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C004,Pedro M.,NaN,5555abc,NaN,NaN,NaN,NaN,NaN,NaN
4,C005,Mar√≠a G√≥mez,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,C006,,NaN,123456789,NaN,NaN,NaN,NaN,NaN,NaN
6,C007,NaN,NaN,NaN,02/11/1990,NaN,NaN,NaN,NaN,NaN
7,C008,NaN,NaN,NaN,1990-11-02,NaN,NaN,NaN,NaN,NaN
8,C009,NaN,NaN,NaN,NaN,Av. Brasil 120,NaN,NaN,NaN,NaN
9,C010,NaN,NaN,NaN,NaN,Avenida Brasil N¬∫120,NaN,NaN,NaN,NaN
10,C011,NaN,NaN,NaN,NaN,NaN,RM,NaN,NaN,NaN
11,C012,NaN,NaN,NaN,NaN,NaN,Regi√≥n Metropolitana,NaN,NaN,NaN
15,C016,Carlos G.,NaN,NaN,NaN,NaN,NaN,Activo,NaN,NaN
16,C017,Carlos G.,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
17,C018,Carlos G.,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
18,C019,Luc√≠a V.,NaN,NaN,NaN,NaN,NaN,NaN,2017-03-05,NaN
19,C020,Andr√©s F.,NaN,NaN,NaN,NaN,NaN,NaN,2016-11-20,NaN
20,C021,Pamela Z.,NaN,NaN,NaN,NaN,NaN,NaN,2015-02-10,NaN
22,C023,NaN,NaN,9999999999999999999999,NaN,NaN,NaN,NaN,NaN,NaN
23,C024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.345.678-X
24,C025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,abcdefghi
25,C026,Carla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,C027,Sebasti√°n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,C028,Carlos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,C029,Ignacio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,C030,Elena,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df[df["telefono"].isna() | (df["telefono"].astype(str).str.strip() == "")]

,cliente_id,nombre,email,telefono,fecha_nacimiento,direccion,region,estado,ultima_actualizacion,rut
0,C001,Clauida R.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,C002,J0s√© L√≥pez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C003,Ana,ana.correo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C005,Mar√≠a G√≥mez,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,C007,NaN,NaN,NaN,02/11/1990,NaN,NaN,NaN,NaN,NaN
7,C008,NaN,NaN,NaN,1990-11-02,NaN,NaN,NaN,NaN,NaN
8,C009,NaN,NaN,NaN,NaN,Av. Brasil 120,NaN,NaN,NaN,NaN
9,C010,NaN,NaN,NaN,NaN,Avenida Brasil N¬∫120,NaN,NaN,NaN,NaN
10,C011,NaN,NaN,NaN,NaN,NaN,RM,NaN,NaN,NaN
11,C012,NaN,NaN,NaN,NaN,NaN,Regi√≥n Metropolitana,NaN,NaN,NaN
12,C013,Juan P√©rez,juanperez@mail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,C014,Juan Perez,jperez@mail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,C015,Juan P.,juan.p@mail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,C016,Carlos G.,NaN,NaN,NaN,NaN,NaN,Activo,NaN,NaN
16,C017,Carlos G.,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
17,C018,Carlos G.,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
18,C019,Luc√≠a V.,NaN,NaN,NaN,NaN,NaN,NaN,2017-03-05,NaN
19,C020,Andr√©s F.,NaN,NaN,NaN,NaN,NaN,NaN,2016-11-20,NaN
20,C021,Pamela Z.,NaN,NaN,NaN,NaN,NaN,NaN,2015-02-10,NaN
21,C022,NaN,email@correo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,C024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.345.678-X
24,C025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,abcdefghi
25,C026,Carla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,C027,Sebasti√°n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,C028,Carlos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,C029,Ignacio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,C030,Elena,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### üî∏ C. Identificar registros sin ning√∫n atributo √∫til

Ac√° se definen columnas cr√≠ticas y se buscan registros vac√≠os en ellas.

In [8]:
# Identificar registros completos sin ning√∫n atributo √∫til
# Definir las columnas cr√≠ticas que voy a evaluar
columnas_criticas = ["nombre","email","telefono","cliente_id"]

# Buscar registros completamente vac√≠os en estas columnas
df[df[columnas_criticas].isna().all(axis=1)]

Empty DataFrame
Columns: [cliente_id, nombre, email, telefono, fecha_nacimiento, direccion, region, estado, ultima_actualizacion, rut]
Index: []

## ‚úÖ 2) DIMENSI√ìN: Validez

Validaci√≥n de formatos y tipos.

### üî∏ A. Validaci√≥n de formato de correo electr√≥nico

Una verificaci√≥n b√°sica podr√≠a ser revisar que el email contenga un @ y un .

In [10]:
# Validar el formato del correo electr√≥nico
# Filtrar los registros con email NO NULO
emails_no_nulos = df["email"].dropna()

# Aplicar una condici√≥n sobre los emails NO NULOS (v√°lidos)
condicion = ~emails_no_nulos.str.contains("@") | ~emails_no_nulos.str.contains(r"\.")

# Mostrar los registros que tengan formato incorrecto
df.loc[emails_no_nulos[condicion].index]

,cliente_id,nombre,email,telefono,fecha_nacimiento,direccion,region,estado,ultima_actualizacion,rut
2,C003,Ana,ana.correo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,C022,NaN,email@correo,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### üî∏ B. Validar formato de tel√©fono

Esto permite identificar errores como abc123 o 123.

In [11]:
# Detectar tel√©fonos que contienen letras o s√≠mbolos (deben ser num√©ricos)
df[df["telefono"].notna() & (~df["telefono"].astype(str).str.isnumeric())]

,cliente_id,nombre,email,telefono,fecha_nacimiento,direccion,region,estado,ultima_actualizacion,rut
3,C004,Pedro M.,NaN,5555abc,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Detectar tel√©fonos demasiado cortos o largos
df[df["telefono"].notna() & (df["telefono"].astype(str).str.len() < 8)]

,cliente_id,nombre,email,telefono,fecha_nacimiento,direccion,region,estado,ultima_actualizacion,rut
3,C004,Pedro M.,NaN,5555abc,NaN,NaN,NaN,NaN,NaN,NaN

### üî∏ C. Validar formato de fechas (fecha_nacimiento y ultima_actualizacion)

Esto detecta fechas con formatos incorrectos como 02/11/1990 si no siguen un patr√≥n ISO.

In [13]:
# Intentar convertir fecha_nacimiento a datetime
df["fecha_valida"] = pd.to_datetime(df["fecha_nacimiento"], errors="coerce")

# Mostrar registros con fechas inv√°lidas
df[df["fecha_nacimiento"].notna() & df["fecha_valida"].isna()]

,cliente_id,nombre,email,telefono,fecha_nacimiento,direccion,region,estado,ultima_actualizacion,rut,fecha_valida
7,C008,NaN,NaN,NaN,1990-11-02,NaN,NaN,NaN,NaN,NaN,NaT

In [14]:
df["ultima_actualizacion_valida"] = pd.to_datetime(df["ultima_actualizacion"], errors="coerce")

df[df["ultima_actualizacion"].notna() & df["ultima_actualizacion_valida"].isna()]

Empty DataFrame
Columns: [cliente_id, nombre, email, telefono, fecha_nacimiento, direccion, region, estado, ultima_actualizacion, rut, fecha_valida, ultima_actualizacion_valida]
Index: []

### üî∏ D. Validar valores permitidos en campo estado

Aqu√≠ puedes identificar valores como True, 1, "Activo" (con may√∫sculas), etc.

In [15]:
# Mostrar valores √∫nicos para detectar inconsistencias
df["estado"].value_counts(dropna=False)

estado
NaN       27
True       2
Activo     1
Name: count, dtype: int64

In [ ]:
# Ver registros con valores inesperados
valores_validos = ["activo", "inactivo"]
df[~df["estado"].astype(str).str.lower().isin(valores_validos)]

## üîÑ Lista de tareas siguientes para aplicar en Python

### 3) DIMENSI√ìN: Consistencia
Eval√∫a si los datos tienen sentido l√≥gico o representan correctamente lo que dicen:
- Verificar valores distintos que significan lo mismo ("RM" vs "Regi√≥n Metropolitana")
- Direcciones escritas de distintas formas ("Av." vs "Avenida")

### 4) DIMENSI√ìN: Unicidad
Asegura que las claves primarias o datos √∫nicos no est√©n repetidos:
- Duplicados en cliente_id
- Duplicados en nombre o email (casos con nombres similares o errores tipogr√°ficos)

### 5) DIMENSI√ìN: Actualidad
Detecta registros que pueden estar desactualizados:
- Revisar ultima_actualizacion con fechas antiguas (por ejemplo, antes de 2018)
- Analizar si hay registros sin cambios en mucho tiempo

### üõ†Ô∏è Data Wrangling: Correcciones b√°sicas
Aplica acciones correctivas para facilitar an√°lisis:
- Rellenar campos nulos con textos est√°ndar
- Estandarizar estado a "activo" o "inactivo" (todo en min√∫sculas)

### üìä Resumen de hallazgos
Entrega una visi√≥n global del estado de la calidad:
- Cu√°ntos registros fueron afectados por cada tipo de error
- Posibles acciones: eliminar, corregir o revisar manualmente

### üíæ Persistencia de los datos en MongoDB
Opcional. Si quieres dar el paso final puedes:
- Exportar el DataFrame corregido a un nuevo archivo .csv o .json
- Incluso volver a insertarlo en MongoDB como versi√≥n corregida